<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>todolist 목록</p>
    <br>
    <a href="/loginform"><%=userStatus%></a>

    <%if (isOwner){%>
        <br>
      <a href="/createform">create</a>
      <form action="/create">
        <input type="text" name="title" placeholder="제목을 입력하세요.">
        <br>
        <input style="width: 170px; height: 300px;" type="text" name="todo"  placeholder="내용을 입력하세요.">
        <br>
        <input type="submit">
    </form>
    <%}%>

  

  </body>
</html>
